@import "./functions.scss";

// @function get-size($width) {
//   $max-width: $width;
// }

.main-bg {
  background: linear-gradient(
    90deg,
    var(--main-bg-color-second) 38.3%,
    var(--main-bg-color) 0%
  );
  width: 100%;
  height: 200px;
}
